.contact
	position relative
	
	.current-order
		display flex
		flex-wrap wrap
		max-width 370px
		
		.order-product
			width 60px
			height 60px
			background-size cover
			margin 5px
	.icon
		top 5px
		right 5px
    
	.contact-form
		display flex
		flex-direction column
		padding 10px

		input
			margin 0 0 20px 
			text-align center
			padding 5px
