.order-wrap
  position fixed
  bottom 0
  z-index 2
  right 0
  background-color white
  width 250px
  padding 0 15px 0
  border 2px solid brand-primary
  border-top none
    
  h4
    margin -20px -17px 0 -17px
    text-align center
    padding 4px
    color white
    background-color brand-primary
  
  .order-button 
    display block
    margin 5px auto
    width 100%
    
ul.order
  position relative
  list-style none
  padding 0
  margin 5px 0 0
  li
    border-bottom 1px solid gray-lighter
    padding 12px 0
    font-size 1.4rem
    justify-content space-between
    align-items center
    
    button
      border 0
      line-height 1
      padding 2px 4px 
      position absolute
      right 0px