.selector 
	position relative
	font-size 1.25rem
	ul
		list-style none
		display flex
		justify-content space-around
		flex-wrap wrap
		li 
			margin 5px
			cursor pointer
			color lighten(gray, 20%)
			&.selected
				text-decoration underline
				color black
				cursor default
